{% extends 'base.html' %}
{% block title%} Blog{% endblock %}
{% block main %}
{% load static %}

<div class="container-lg mt-5">
    <h2>Trending Blogs</h2>
    {% for blog in blogs %}
    {% if blog.id < 6 %}
    <div class="media mt-5">
          <img src="{% static 'images/t.png' %}" class="align-self-start mr-3" style="width:50px;height:50px;">
          <div class="media-body">
            <h5 class="mt-0"><a href="blogdetails">{{blog.blog_head}}</a></h5>
            <p>{{blog.blog_para1}}</p>
            <p>{{blog.blog_para2}}</p>
            <small class="text-muted">Posted on: </small><p>{{blog.blog_date}}</p>
              <small class="text-muted">Author: </small><p>{{blog.blog_author}}</p>
          </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

{% endblock %}