{% extends 'base.html' %}
{% block title%} Blog{% endblock %}
{% block main %}
{% load static %}


 <!-- MAIN -->
    <main role="main">

      <article>
        <header class="section background-dark">
          <div class="line">
            <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">Blog</h1>
            <p class="margin-bottom-0 text-size-16"></p>


             {% if user.is_authenticated %}
            <div class="s-12 m-12 l-2" style="margin-top:30px;" >
              <div ><a class="button button-black-stroke" href="post" style="margin-top: 30px;margin-left: 1px;background:brown;">Add New Post</a></div>
            </div>

            {% else %}
            <div class="s-12 m-12 l-2" style="margin-top:30px;" >
              <div ><a class="button button-black-stroke" href="login" style="margin-top: 30px;margin-left: 1px;background:brown;">Login to start writing</a></div>
            </div>
            {% endif %}


          </div>
        </header>

          <!-- Blogs -->


        <div class="section background-white">

                {% for blog in blogs %}
          <div class="line">
            <h2 class="text-size-40 margin-bottom-30">{{blog.blog_head}}</h2><br>
                <small class="text-muted">Author: </small><h2>{{blog.blog_author}}</h2>
                <small class="text-muted">Posted on: </small>{{blog.blog_date}}

            <hr class="break-small background-primary margin-bottom-30">

            <blockquote class="margin-top-bottom-20">
              {{blog.blog_para1}}
            </blockquote>
            <blockquote class="margin-top-bottom-20">
              {{blog.blog_para2}}
            </blockquote>

          </div>
          {% endfor %}


        </div>
      </article>
    </main>


{% endblock %}