{% extends 'base.html' %}
{% block title%} Covid Status{% endblock %}
{% block main %}
{% load static %}


    <!-- MAIN -->
    <main role="main">
      <!-- Content -->
      <article>
        <header class="section background-dark">
          <div class="line">
            <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">Covid Status</h1>
          </div>
        </header>



        <blockquote class="margin-top-bottom-10" style="text-align:center;">
          <span>Total Reported</span><a style="color:darkblue;padding:20px;font-size:30px;">{{total.new_positive}}</a>
          <span>Death</span><a style="color:Red;padding:20px;font-size:30px;">{{total.new_death}}</a>
          <span>Recovered</span><a style="color:green;padding:20px;font-size:30px;">{{total.new_cured}}</a>
        </blockquote>

        <section class="section background-white text-center">
        <div class="line">
          <h2 class="text-size-50 text-center">Statewise Data </h2>
          <hr class="break-small background-primary break-center">



            <div class="margin">
                {% for state in states %}

              <div class="s-12 m-12 l-4 margin-m-bottom" style="padding:10px;">
                <div class="padding-2x background-primary"  style="padding:10px;text-align: center;">

                  <h2 class="text-thin">{{state.state}}</h2>

                  Recovery<h1 style="color:black;">{{state.rp}}</h1>

                  TOTAL<h1  style="color:black;">{{state.Total}}</h1>
                  DEATH <h1  style="color:black;">{{state.death}}</h1>
                  Recovered<h1 style="color:black;">{{state.cured}}</h1>
                </div>
              </div>
              {% endfor %}

            </div>


          </div>

        </section>



      </article>
    </main>
{% endblock %}
