{% extends 'base.html' %}
{% block title%} Destinations{% endblock %}
{% block main %}
{% load static %}

    <!-- MAIN -->
   <!-- MAIN -->
    <main role="main">
      <article>
        <header class="section background-dark">
          <div class="line">
            <h1 class="text-white margin-top-bottom-40 text-size-60 text-line-height-1">Travel Destinations</h1>
            <p class="margin-bottom-0 text-size-16">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis.<br>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
          </div>
        </header>
<!-- Destinations -->
        <div class="section background-white">
          <div class="line">
            <div class="margin">
                {% for dest in destinations %}
                <div class="s-12 m-6 l-4">
                    <div class="image-with-hover-overlay image-hover-zoom margin-bottom">
                      <div class="image-hover-overlay background-primary">
                        <div class="image-hover-overlay-content text-center padding-2x">
                            <h3>{{dest.dest_name}}</h3>
                          <p>{{dest.dest_desc}}</p>
                          <p class="card-text"><small class="text-muted">Price Starts from: </small> {{dest.dest_price}}</p>
                        </div>
                      </div>
                      <img src="{{dest.dest_img}}" alt="" title="Portfolio Image 1" />
                    </div>
               </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </article>
    </main>


{% endblock %}